---
layout: landing
---
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <!--        <p>{{ site.description | markdownify }}</p>-->
        <p>Coś trzeba tutaj</p>
        <!--        <ul class="actions">-->
        <!--            <li><a href="#"-->
        <!--                   class="button special">Activate</a></li>-->
        <!--        </ul>-->
    </div>
    <a href="#one"
       class="more">Więcej informacji</a>
</section>

<!-- One -->
<section id="one"
         class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Drodzy goście</h2>
            <p>Sandra Turlińska oraz Rafał Kozieł wraz z Rodzicami mają zaszczyt zaprosić na swój Ślub,
                <br>
                który odbędzie się 14 czerwca 2025 roku o godzinie 16:00 w Sanktuarium Matki&nbsp;Bożej&nbsp;Miłosiernej
                w&nbsp;Białej&nbsp;Rawskiej.
                <br>
                Po ceremonii zapraszamy do wspólnego świętowania.
                <br>
                Przyjęcie weselne odbędzie się w Pałacu&nbsp;Chojnata w&nbsp;Woli-Chojnata&nbsp;59.</p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
            <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
            <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
        </ul>
    </div>
</section>

<!--<section id="map-section"-->
<!--		 class="wrapper alt style2">-->
<!--	<section class="spotlight content">-->
<!--		{% include map.html %}-->
<!--	</section>-->
<!--</section>-->

<section id="mapSection"
         class="wrapper alt style2">
    <section class="spotlight">
        <div class="image">
            {% include map.html %}
        </div>
        <div class="content">
            <h2>Lokalizacja</h2>
            <div class="d-flex flex-column gap-2 mb-5">
                <b>Sanktuarium Matki&nbsp;Bożej&nbsp;Miłosiernej w&nbsp;Białej&nbsp;Rawskiej</b>
                <div class="d-flex flex-lg-row flex-column gap-1 justify-content-between align-items-center">
                    plac Kościelny 4, 96-230 Biała Rawska
                    <a href="https://maps.app.goo.gl/BdDiE9PHvxGX4gJx5"
                       class="button small">Google maps</a>
                </div>
                Po ceremonii zapraszamy do wspólnego świętowania
                <div class="d-flex flex-lg-row flex-column gap-1 justify-content-between align-items-center">
                    Pałac Chojnata, Wola-Chojnata 59
                    <a href="https://maps.app.goo.gl/1T3CPU9SUdqD13UW7"
                       class="button small">Google maps</a>
                </div>
            </div>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/imgs/pic02.jpg"
                                alt=""/></div>
        <div class="content">
            <h2>Tortor dolore feugiat<br/>
                elementum magna</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/imgs/pic03.jpg"
                                alt=""/></div>
        <div class="content">
            <h2>Augue eleifend aliquet<br/>
                sed condimentum</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
    </section>
</section>

<!-- Two -->
<section id="two"
         class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="/assets/imgs/pic01.jpg"
                                alt=""/></div>
        <div class="content">
            <h2>Magna primis lobortis<br/>
                sed ullamcorper</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/imgs/pic02.jpg"
                                alt=""/></div>
        <div class="content">
            <h2>Tortor dolore feugiat<br/>
                elementum magna</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/imgs/pic03.jpg"
                                alt=""/></div>
        <div class="content">
            <h2>Augue eleifend aliquet<br/>
                sed condimentum</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
    </section>
</section>

<!-- Three -->
<section id="three"
         class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Accumsan mus tortor nunc aliquet</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br/>
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <ul class="features">
            <li class="icon fa-paper-plane-o">
                <h3>Arcu accumsan</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-laptop">
                <h3>Ac Augue Eget</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-code">
                <h3>Mus Scelerisque</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-headphones">
                <h3>Mauris Imperdiet</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-heart-o">
                <h3>Aenean Primis</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-flag-o">
                <h3>Tortor Ut</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
        </ul>
    </div>
</section>

<!-- CTA -->
<section id="cta"
         class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Arcue ut vel commodo</h2>
            <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
        </header>
        <ul class="actions vertical">
            <li><a href="#"
                   class="button fit special">Activate</a></li>
            <li><a href="#"
                   class="button fit">Learn More</a></li>
        </ul>
    </div>
</section>
