<p class="display-4 my-4" id="scheduleTitle">
    Plan dnia
</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="card-body">
<!--                    <h6 class="card-title">Timeline</h6>-->
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="1:00 - 2:00pm">
                                <h3>Welcome Drinks</h3>
                                <p>Guests arrive and enjoy welcome drinks.</p>
                            </li>
                            <li class="event" data-date="2:00 - 3:00pm">
                                <h3>Ceremony</h3>
                                <p>The wedding ceremony takes place.</p>
                            </li>
                            <li class="event" data-date="3:00 - 4:00pm">
                                <h3>Photos</h3>
                                <p>Photos with the newlyweds and guests.</p>
                            </li>
                            <li class="event" data-date="4:00 - 6:00pm">
                                <h3>Reception</h3>
                                <p>Reception with dinner and speeches.</p>
                            </li>
                            <li class="event" data-date="6:00 - 8:00pm">
                                <h3>Dancing</h3>
                                <p>Dance floor opens and the party begins.</p>
                            </li>
                            <li class="event" data-date="8:00 - 9:00pm">
                                <h3>Farewell</h3>
                                <p>Farewell to the newlyweds as they depart.</p>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>
