.img-hero {
  @include transition-smooth();

  max-width: 100%;
  min-width: 100%;
  //max-height: 30vh;
  object-fit: cover;
  background-size: cover;

  filter: brightness(0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  display: flex;
  flex-direction: column;
}

.jumbo-content {
  position: relative;
  z-index: 1;
}

.jumbo-header {
  @include transition-smooth();

  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: map-get($container-max-widths, 'md')) {
  .jumbo-header {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

.sticky-top-scroll {
  position: relative;
  z-index: 10;
  @include transition-smooth();
}

.stuck {
  @include transition-smooth();

  position: sticky !important;
  //top: -50px;
  z-index: 20;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  @media (max-width: map-get($container-max-widths, 'md')) {
    .nav-title {
      opacity: 0;
    }
  }

  .img-hero {
    filter: brightness(0.5);
  }
}

//p[id] {
//  scroll-margin-top: 150px;
//}
