
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .8);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-title {
  //font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}

.nav-container {
    max-width: $max-content-width;
}