<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet"
          href="{{ '/assets/css/main.css' | relative_url }}"/>
    <script src="{{ '/assets/bootstrap/js/bootstrap.js' | relative_url }}"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body data-bs-spy="scroll"
      data-bs-target="#mainNavbar"
      id="homeAnchor">
<!--<header>-->
<!--    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a href="{{ '/' | relative_url }}">Home</a></li>-->
<!--            <li><a href="{{ '/about/' | relative_url }}">About</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--    {% include nav2.html %}-->
<!--</header>-->
<main class="text-center">
    {% include jumbotron.html %}

    <hr class="border-bottom border-2 my-5"/>

    {% include map.html %}

    <hr class="border-bottom border-2 my-5"/>

    {% include schedule.html %}

    <!--    {{ content }}-->
</main>
{% include footer.html %}
</body>
</html>
